<ion-header>
  <ion-toolbar>
    <ion-title>Liste de mes Commandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  Filtre:
  <button ion-button clear item-end >All</button>
  <input type="date" placeholder="filtre par date" id="filtreByDate" [(ngModel)]="filtreDate">
  <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="filtreEtat">
    <option value="en cours">en cours</option>
    <option value="disponible">disponible</option>
    <option value="termine">termine</option>
  </select>

  <!-- <div>
    <label>Par Date</label>
    <input type="date" placeholder="filtre par date" id="filtreByDate" [(ngModel)]="searchTermDate">
  </div> -->
</ion-item>

<ion-content>
  <ng-container *ngFor="let commande of commandes | commandeDateFilter:filtreDate | commandeEtatFilter:filtreEtat">
    <ion-list>
      <ion-item>

        <p>n°{{commande.numeroCommande}}</p>
        <p>{{commande.montantCommande}}</p>
        <p>{{commande.dateCommande | date:'dd-MM-YY'}}</p>
        <p>{{commande.etat}}</p>

        <!-- <button ion-button clear item-end>Detail</button> -->
          <ion-icon name="enter-outline" routerLink="/client/detail-commande/{{commande.id}}"></ion-icon>
          <ion-icon name="close-circle-outline"></ion-icon>
        <!-- <button ion-button clear item-end>Annuler</button> -->

        <!-- <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>First Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              First Content
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label>Second Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              Second Content
            </div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <ion-label>Third Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              Third Content
            </div>
          </ion-accordion>
        </ion-accordion-group> -->



      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>

<app-footer></app-footer>
