.btn{
  margin: 5px;
  width: 95px;
  height: 50px;
  font-weight: bold;
  border: 1px solid #F4782F ;
  border-radius: 10px;
  background-color: #F4782F;
}

ion-toolbar{
  --background: #F4782F;
  ion-button{
    text-transform: initial;
  }
}
