      <!-- <button ion-button (click)="getType()" class="btn">Catalogue</button> -->

<ion-footer>
  <ion-toolbar>

      <button ion-item class="btn" routerLink="/catalogue">
        <ion-icon name="cash-outline" item-start></ion-icon>
        Catalogue
      </button>
      <button ion-item class="btn">
        <ion-icon name="cart" item-start></ion-icon>
        Commandes
      </button>

      <button ion-item class="btn">
        <ion-icon name="cart" item-start></ion-icon>
        Panier
      </button>
  
  </ion-toolbar>
</ion-footer>
